@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 223 100% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 230 35% 7%;
    --accent: 250 68% 27%;
    --accent-foreground: 0 0% 100%;
    --muted: 250 35% 62%;
    -webkit-text-stroke-width: 2px;
    --text-stroke-color: 216 28% 20%;
  }

  @media screen and (min-width: 768px) {
    :root {
      --text-stroke-width: 4px;
    }
  }

  html,
  body {
    @apply font-mousememoirs;

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }
}

@layer components {
  .btn-hover-overlay {
    @apply relative before:pointer-events-none before:absolute before:inset-0 before:rounded-2xl md:before:rounded-3xl before:bg-transparent before:transition-all before:duration-300 before:content-[''] hover:before:bg-white/25;
  }
  .body-text {
    @apply text-base leading-[1.2] tracking-wide md:text-xl lg:text-body;
  }
  .heading-sm {
    @apply text-heading-sm leading-[1.2] tracking-wide;
  }
  .heading-md {
    @apply text-2xl leading-[1.2] tracking-wide md:text-heading-md;
  }
  .heading-lg {
    @apply text-2xl leading-[1.2] tracking-wide md:text-heading-lg md:tracking-normal;
  }
  .heading-xl {
    @apply text-5xl leading-[1.2] tracking-wide md:text-[6.5rem] md:tracking-tight lg:text-heading-xl;
  }

  .overlay {
    @apply bg-gradient-to-b from-[#1A043A] via-[#151278] via-70% to-[#2B1677] bg-cover bg-no-repeat opacity-75;
  }

  .purple-btn {
    @apply grid place-items-center bg-gradient-to-b from-electric-pink to-periwinkle-blue shadow-play-btn;
  }
  .purple-btn-sm {
    @apply grid place-items-center bg-gradient-to-b from-electric-pink to-periwinkle-blue shadow-back-btn;
  }

  .text-stroke {
    -webkit-text-stroke-width: var(--text-stroke-width);
    -webkit-text-stroke-color: hsl(var(--text-stroke-color));
  }
}
